<% @gists.each do |gist|%>
  <div class='row'>
    <div class='col-2 pr-0 text-center'>
      <%= link_to user_path(gist.user) do %>
        <%= image_tag gist.user.profile_image, class: 'pp rounded' %>
      <% end %>
    </div>
    <div class='col-10 pl-0 '>
      <div class='d-flex justify-content-between'>
        <span class='text-secondary font-weight-bold'><%= link_to gist.user.name, user_path(gist.user), class: 'text-decoration-none' %></span>
        <span class='text-secondary font-weight-light'><%= gist.created_at.strftime("%Y/%m/%d %I:%M%P") %></span>
      </div>
      <p><%= gist.body %></p>
    </div>
  </div><hr>
<% end %>